<!-- about.html -->
{% extends 'quotes/base.html' %}
 
 
{% block content %}
 
 
<div>
    <h1>Steve Jobs (1955 - 2011)</h1>
    
    <p>Steve Jobs, as co-founder and CEO of Apple, was a guiding force in the electronics industry, from the development of the first home computers in the 1970s to the world-shaking impact of smartphones and tablets. The decisions Jobs made and the passions he followed had a direct impact on the way we use computers and share information.</p>
 

</div>
 
 
{% endblock %}