<!--mini_insta/templates/mini_insta/show_profile.html

# File: show_profile.html
# Author: Abdul Rafay (rafaya@bu.edu), 2/13/2006
# Description: template to show individual profile.
-->

{% extends 'mini_insta/base.html' %}
<!-- scriptlet code to display theprofile -->
{% block content %}
<article class="profile-card">
   {% if profile.profile_image_url %}
   <img class="profile-avatar-2" src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">

   {% endif %}

   <div class="profile-body">
      <h2 class="profile-displayname">{{profile.display_name}}</h2>
      <h3 class="profile-username">{{profile.user_name}} </h3>
      <h3>
         <a href="{% url 'mini_insta:show_followers' profile.pk %}">Followers : {{ profile.get_num_followers }}</a>
         <a href="{% url 'mini_insta:show_following' profile.pk %}">Following : {{ profile.get_num_following }}</a>
         Posts: {{ profile.get_all_posts.count }}
      </h3>
      <strong class="profile-bio">{{profile.bio_text}}</strong>
      <p class="profile-join">
         Joined on: {{profile.join_date}}
      </p>
   </div>
</article>

<hr>

<h3>Posts ({{ profile.get_all_posts.count }})</h3>

{% if profile.get_all_posts %}
<div class="posts-grid">
   {% for post in profile.get_all_posts %}
   <a href="{% url 'mini_insta:post_detail' post.pk %}" class="post-link">
      <div class="post-card">
         <div class="post-header">
            <small>{{ post.timestamp }}</small>
         </div>

         <div class="post-image">
            {% with first_photo=post.get_all_photos.first %}
            {% if first_photo %}
            <img src="{{ first_photo.get_image_url }}" alt="Post photo" class="post-photo">
            {% else %}
            <img
               src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4kwallpapers.com%2Fimages%2Fwallpapers%2Fmatrix-falling-code-2560x1080-15697.jpg&f=1&nofb=1&ipt=3d84adc8237640bf654c37bfa555a961ae631983eee34a0321966a743eb7d511"
               alt="No image" class="post-photo placeholder">
            <p>This Post has no photos. </p>
            {% endif %}
            {% endwith %}
         </div>

         <div class="post-caption">
            <p>{{ post.caption|truncatewords:20|linebreaksbr }}</p>
         </div>
      </div>
   </a>
   {% endfor %}
</div>
{% else %}
<p>No posts yet.</p>
{% endif %}



<footer class="simple-footer">
   <div class="footer-links">
      <a href="{% url 'mini_insta:show_all_profiles' %}" class="footer-btn back-btn">
         ← All Profiles
      </a>

      {% if profile %}
      <a href="{% url 'mini_insta:create_post' profile.pk %}" class="footer-btn create-post-btn">
         <span class="plus-icon">+</span> New Post
      </a>
      <a href="{% url 'mini_insta:update_profile' profile.pk %}" class="footer-btn">
         Update Profile
      </a>
      {% endif %}
   </div>
</footer>
{% endblock %}