<!--templates/mini_insta/show_all_profiles.html

# File: show_all_profiles.html
# Author: Abdul Rafay (rafaya@bu.edu), 2/13/2006
# Description: template to show all profiles.
-->

{% extends 'mini_insta/base.html' %}
<!-- scriptlet code to display all profiles -->
 {% block content %}
 <main class="profiles-grid">
    {% for p in profiles %}
    <article class="profile-card">
            {% if p.profile_image_url %}
            <a href="{% url 'show_profile' p.pk %}">
            <img class="profile-avatar" src="{{p.profile_image_url}}" alt="{{p.profile_image_url}}">
            </a>
            {% endif %}
            
            <a href="{% url 'show_profile' p.pk %}">
            <h2 class="profile-displayname">{{p.display_name}}</h2>
            </a>

            <h3 class="profile-username">{{p.user_name}}</h3>


            </article>
       
        {% endfor %}
</main>
{% endblock %}

